h1 {
     color: blue; 
     font-size: 30px;
}

.box {
    color: red;
    background-color: black;
}

#title {
    font-size: 25px;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 50%;
    margin-top: 10px;
    margin-left: 25%;
    background-color: #333;
    color: #ffff;
}