body {
    background-color: bisque;
}

#profile {
    background-image: url("ninja.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    border: 2px solid black;
    height: 200px;              
    width: 100px;
    margin: 0px 565px;
    border-radius: 500px;
}

#name {

    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* text-shadow: 2px 2px 5px rgb(50, 25, 25); */
    text-shadow: red 1px 0px 5px;
    margin: 0px 510px ;
}


#name:hover {
    font-size: 40px;
    text-decoration: underline;
}


#para {
    text-align: center;
    opacity: 50%;
}
#para:hover {
    opacity: 100%;
}