body {
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
    background-position: center;
    /* background-attachment: fixed; */
    background-color: rgb(126, 228, 241);
}

h1 {
    color: red;
    background-color: lightskyblue;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    font-style: italic;
    margin-left: 174px;
    margin-right: 174px;
}

p {
    text-align: center;
    text-transform: capitalize;
    font-family: Arial;
    font-style: italic;
}

.box1 {
  background-color: rgb(33, 194, 218);
  border: 3px dashed blue;
  height: 100px;
  width: 200px;
  margin: 10px auto;
  margin-right: 300px;    /* center align */
  text-align: center;
  line-height: 100px;   /* vertically center text */
}

.box2 {
    background-color: rgb(202, 223, 109);
    border: 4px dotted red;
    height: 100px;
    width: 200px;
    margin: 10px auto;
    margin-right: 300px;
    border-radius: 14px;
    text-align: center;
    line-height: 100px;
}

.box3 {
    background-color:rgb(228, 116, 116);
    border: 5px solid black;
    height: 150px;
    width: 250px;
    margin: 15px auto;
    margin-right: 280px;
    text-align: center;
    line-height: 150px;

}