header {
    text-align: center;
    background-color: #004080;
    color: white;
    height: 70px;
    font-size: 20px;
}

h1 {
    text-decoration: underline;
}

/* h1:hover {
    text-decoration: underline;
    transition-property: all;
    transition-duration: 1.5s;
    transform: rotate(180deg);
} */


b {
    color: red;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 40px;
    margin-top: -3px;
}

a {
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 6px;
    transition-property: all;
    transition-duration: 1.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.6s;
}

a:hover {
    background-color: #004080;
    text-decoration: underline;
    font-size: 25px;
    transform: rotate(360deg);
}

.Home {
    text-align: center;
    margin-top: 40px;
    background-color: #eaf3ff;
    height: 950px;
    margin: 45px 130px;
    border-radius: 20px;

    animation-name: colorAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes colorAnimate {
    from {background-color:#eaf3ff ;}
    to {background-color: bisque;}
}


/* .Home:active {
    background-color: bisque;
} */

.imgs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.img-box {
    text-align: center;
}


#Html {
    height: 250px;
    width: 220px;
    background-image: url("Html-Logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Css {
    background-image: url("Css-Logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 220px;
}

#Java {
    background-image: url("Javascript-Logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 220px;
}

.arrow {
    font-size: 40px;
    margin-top: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
}

.logocss {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
}

.logojava {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
}

.logo:hover {
    text-decoration: white underline;
    font-weight: bolder;
}

.logocss:hover {
    text-decoration: underline;
    color: white;
}

.logojava:hover {
    text-decoration: white underline;
    font-weight: bolder;
}

/* Big Arrows */
.bigarrow1 {
    font-size: 50px;
    margin-top: 10px;
}

.bigarrow2 {
    font-size: 228px;
    margin-top: -60px;
    display: inline-block;
    /* font-size: 150px;
    margin-top: -150px; */
}

.bigarrow3 {
    font-size: 400px;
    margin: -125px;
}

.para1 {
    margin: -205px 445px 0px -130px;
    font-family: sans-serif;
}

.para2 {
    font-family: sans-serif;
    margin: 50px 255px 0px 70px;
}

.para3 {
    font-family: sans-serif;
    margin: 50px 5px 0px 150px;
}