* {
    text-transform: capitalize;
}

body {
    background-color: blanchedalmond;
    text-align: center;
}

h1 {
    color: red;
    text-decoration: underline;
    text-shadow: 2px 2px 5px gray;   /* text ke neeche halka shadow */
}

.box1 {
    background-color: orange;
    border: 5px solid black;
    margin: 20px auto;
    padding: 20px;
    width: 200px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);  /* shadow add */
}

.box2 {
    background-color: lightpink;
    border: 3px dashed green;
    margin-top: 40px;
    padding: 30px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.4);
}

.box3 {
    background-color: lightblue;
    border: 4px dotted red;
    margin: 50px auto;
    padding: 25px;
    width: 300px;
    height: 150px;
    line-height: 150px;
    box-shadow: 6px 6px 15px rgba(0,0,0,0.5);
}
