* {
    box-sizing: border-box;
}

.box {
    display: flex;
    gap: 20px;
}

.card {
    width: 200px;
    padding: 10px;
    border: 3px solid red;
    margin: 20px;
    display: flex;
    gap: 20px;
}